// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-list: rgb(25, 31, 61), rgb(41, 79, 91), rgb(131, 167, 187), rgb(183, 204, 209), rgb(224, 238, 240), rgb(231, 237, 240);

.comment {
  padding-left: 10px;
}

.color1 {
  padding-left: 10px;
  border-left: 2px solid nth($color-list, 1);
}

.color2 {
  padding-left: 10px;
  border-left: 2px solid nth($color-list, 2);
}

.color3 {
  padding-left: 10px;
  border-left: 2px solid nth($color-list, 3);
}

.color4 {
  padding-left: 10px;
  border-left: 2px solid nth($color-list, 4);
}

.color5 {
  padding-left: 10px;
  border-left: 2px solid nth($color-list, 5);
}
