// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.col-center {
  float: none;
  margin: 0 auto;
}

.post-tile {
  text-align: center;
  background-color: rgba(217, 217, 217, 0.64);
  padding: 20px;
  margin-top: 10px;
}

.comments-count {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
